@CHARSET "UTF-8";

#forms{
	width:90%;
}

table{
	width:100%;
}

th{
	width:50%;
	height:2.5em;
	text-align: center;
}

td{
	width:50%;
	height:2.5em;
}

#centerbox{
	width:90%;
	margin-top:20px;
	text-align: center;
}