main .panel {
  margin: 50px 50px;
  width: 30%;
  box-shadow: 5px 5px 10px #666;
}
main .panel-body form {
  width: 100%;
}
main .panel-body form .form-control {
  margin-bottom: 10px;
}
main .panel-body form .btn {
  width: 100%;
}
