@CHARSET "UTF-8";

.halo .box {
  display: none;
}

.halo .handle.n .clone {
  top: -21px;
  right: -25px;
}

.halo .clone {
	left: initial !important;
	right: -25px !important;
}

.halo .link {
	display: none;
}

.halo .fork {
	display: none;
}

.selection-wrapper .box {
	display: none !important;
}

.selection-wrapper {
	box-sizing: content-box;
}

#paper-holder .paper-scroller {
   background-color: lightgray;
}
#paper-holder .paper-scroller svg {
   background-color: white;
}