@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0; /*全要素のマージン・パディングをリセット*/
}

#all {
	width: 100%;
	margin-bottom: 15px;
}

#left {
	width: 250px;
	/*border:solid 3px black;*/
}


#right {
	width: 250px;
	float: left;
	margin-left: 150px;
	/*border:solid 3px black;*/
}

.display {
	width: 100%;
	height: 100%;
}
