$test-color: #ccc;
$min-disp-width: 1000px;

main {
    width: 1300px - 210px;
    height: 100px;
    background: $test-color;
}

// .sosikizu {
//     float: left;
//     height: 100%;
//     width: 75%;
//     min-height: 500px;
//     background: #ccc;
// }

// .jinin {
//     float: right;
//     margin-right: 7px;
//     width: 20%;
//     height: 100%;
//     min-height: 500px;
//     background: #ccc;
// }