$test-color: #ccc;
$min-disp-width: 1000px;

main {
    width: 1300px - 210px;
    height: 100px;
}

.sosikizu {
    position: absolute;
    top: 150px;
    left: 240px;
    height: 500px;
    width: 800px;
    background: #B4F0FF;
}

.jinin {
    float: right;
    margin-right: 7px;
    width: 20%;
    height: 100%;
    min-height: 500px;
    background: #ccc;
}

.sosikizu-menu {
    .box-type {
        float: left;

        button {
            border-radius: 4px 0px 0px 4px;
        }
    }
    .box-text {
        float: left;
        width: 200px;
        border-left: 0px;
    }
    .box-submit {
        float: left;
        margin-left: 10px;
    }
}

/* JointJS */

.snapline.horizontal {
    border-bottom: 2px dotted #aaa;
}

.snapline.vertical {
    border-right: 2px dotted #aaa;
}

.halo .box {
    display: none;
}