h3 {
    font-weight: bold;
}

.font-list li {
    margin: 10px 0px;
}


// ☆☆☆☆☆☆☆☆
// Sass使い方講座
//☆☆☆☆☆☆☆☆

// ☆☆☆☆☆☆☆☆
// 1.Sassの使い方
// ☆☆☆☆☆☆☆☆

// (1)src/main/webappでコマンドプロンプトを開く。

// (2)「compass watch」と入力

// すると、sassディレクトリ内の拡張子scssのファイルがコンパイルされて、
// cssディレクトリにCSSが出力されます。

// エラーがあった場合はコンソールに出力され、
// 出力されたCSS内に詳細のエラー内容が出力されます。


// ☆☆☆☆☆☆☆☆
// 2.コメント
// ☆☆☆☆☆☆☆☆

// このコメントはCSSに出力されない

/* このコメントはCSSに出力されます */


// ☆☆☆☆☆☆☆☆
// 2.変数
// ☆☆☆☆☆☆☆☆

$main-color: #FF6E7C;// 変数の宣言は「$」を付ける
$hensu-test-height: 100px;

.hensu-test {
    //変数の使用
    background: $main-color;

    width: 100px;
    height: $hensu-test-height + 100px;// 演算もできます
}


// ☆☆☆☆☆☆☆☆
// 3.入れ子
// ☆☆☆☆☆☆☆☆

.ireko1 {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background: $main-color;

    // 「.ireko1」の中の「.ireko2」の要素に適用される
    .ireko2 {
        width: 50px;
        height: 50px;
        background: yellow;

        // 「&」は自分自身を表す
        // ここでは、「.ireko2:hover」に適用される
        &:hover {
            background: black;
        }
    }
}


// ☆☆☆☆☆☆☆☆
// Font Awesome使い方講座
//☆☆☆☆☆☆☆☆

$fa-check-square-base-size: 30px;

.fa-check-square-o {
    font-size: $fa-check-square-base-size;
}

.big-check {
    font-size: $fa-check-square-base-size + 15px;
}

.red-check {
    color: red;
}